main {
    padding: 1% 10% 7.5%;
}

#containermain{
    display: flex;
    flex-direction: row;
    margin: 2% 0 0 0;
}

.item{
    width: 20%;
    margin: 0 2% 0 0;
    background-color: white;
    padding: 1% 2%;
    border-radius: 2%;
    box-shadow: 2px 3px 10px;
}

.item a{
    display: block;
    margin-right: 2%;
    margin: auto;
    text-decoration: none;
    color: rgb(147, 140, 163);
    font-family: 'Rubrik Microbe';
}

.item h3{
    font-size: 1.2rem;
    text-align: center;
    font-weight: bolder;
    margin-block-end: 0;
}

.containerlink{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding: 0 15%;
}

img{
    width: 80%;
    margin: 0 auto;
    display: block;
}


@media only screen and (max-width: 659px) {
    #submain{
        font-size: 1.3rem;
        width: 100%;
    }

    #containermain{
        flex-direction: column;
    }

    .containerlink{
        margin: 3% auto;
        font-size: 1.2rem;
    }

    .item{
        width: 92%;
        margin: 2% auto;
    }
}